@import url('common/base.css');
@import url('btn.css');
@import url('form.css');

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
}

.field .value {
  font-weight: 400;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--black);
}

.field .value .label {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}
